@charset "utf-8";

/*-------------------------------------------------
title : Logo style sheet
Author : Gahye Park
Create date :2021. 12. 06
-------------------------------------------------*/

.logo-webbab{width:100%; height:100%; overflow:visible; fill:#fff; }
.logo-webbab .word{fill:#fff; opacity:0; }