@charset "utf-8";

/*-------------------------------------------------
title : _variables style sheet
Author : Gahye Park
Create date :2021. 12. 06
-------------------------------------------------*/

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;